.MainContent {
    height: 100vh;
    overflow-y: auto;
    background-color: #121212;
    padding: 1em;
  }
  
  .MainContent::-webkit-scrollbar {
    width: 10px;
  }
  
  .MainContent::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .MainContent::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .MainContent::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.cardinia {
  background-color: transparent;
  border: 0;
  color: white;
  .img-fluid {
    box-shadow:  10px  10px 5px #dedede,
              -10px -10px 5px #dedede,
               10px -10px 5px #dedede,
              -10px  10px 5px #dedede;
    position: relative;
    top: 30px;
  }
  .album {
    position: relative;
    left: 50px;
  }
  h1 {
    margin: 0;
    font-size: 5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  .d-flex > p {
    font-size: 0.8em;
    position: relative;
    top: 10px;
  }
  svg {
    position: relative;
    top: 7px;
  }
  .pincopallino {
    color: rgba(255, 255, 255, 0.61);
  }
}

.ms-1 {
  padding: 1rem;
  border-radius: 100px;
  background-color: green;
}

.grey {
  color: rgba(255, 255, 255, 0.61);
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);
  font-size: 0.8em;
}
.greys {
    color: rgba(255, 255, 255, 0.61);
  }

.linear {
  line-height: 3;
  color: rgba(255, 255, 255, 0.61);
}

.barraUtente{
 position: fixed;
 width: 60%;
}
