#audioPlayer {
    width: 100%;
    background-color: #0e0d0d;
    color: white;
}

.staticBar {
    width: 80%;
    height: 2px;
    background-color: gray;
}
.playerBar {
    width: 80%;
    height: 2px;
    background-color: white;
    display: none;
    transition: width 1s linear;
}

.playerPlay {
    width: 2em;
}