@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}
p {
  font-size: 0.8rem;
}

body {
  font-family: "Circular";
}

.MainContent {
  height: 100vh;
  overflow-y: auto;
}

.NavbarContainer {
  max-height: 100vh;
}

.playlistSalvate {
  overflow-y: auto;
  max-height: 50%;
}

.playlistSalvate::-webkit-scrollbar {
  width: 10px;
}

.playlistSalvate::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.playlistSalvate::-webkit-scrollbar-thumb {
  background: #888;
}

.playlistSalvate::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.playlistSalvate p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.sidebarRxIcons {
  color: #585858;
}

.sidebarRx {
  height: 100vh;
}

.sidebarRx .bg-black {
  height: 100%;
}

@media (max-width: 766px) {
  #Navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  #Navbar div {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
  }
  #Navbar div #NavBar, #Navbar div div, #Navbar div svg {
    margin: 0 !important;
  }
  .NavbarContainer {
    padding: 0rem !important;
    width: 100% !important;
    position: fixed;
    bottom: 0;
  }
  #songContainer {
    display: none !important;
  }
  .barraUtente {
    display: none !important;
  }
}
#songContainer {
  background-color: black;
  display: flex;
}

.playListSongImage {
  height: 4em;
  width: 4em;
}

.favouriteSongImage {
  width: 100%;
}

.card {
  background-color: transparent;
  border: 0;
  color: white;
}
.card h1 {
  margin: 0;
  font-size: 4em;
  white-space: nowrap;
}
.card .d-flex > p {
  font-size: 0.8em;
  position: relative;
  top: 10px;
}
.card svg {
  position: relative;
  top: 7px;
}
.card .pincopallino {
  color: rgba(255, 255, 255, 0.61);
}

.ms-1 {
  padding: 1rem;
  border-radius: 100px;
  background-color: green;
}

.grey {
  color: rgba(255, 255, 255, 0.61);
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);
  font-size: 0.8em;
}

.greys {
  color: rgba(255, 255, 255, 0.61);
}

body {
  font-family: "Circular";
}/*# sourceMappingURL=style.css.map */