@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
}
.NavbarContainer {
  max-height: 100vh;
  z-index: 1;
}

.playlistSalvate {
  overflow-y: auto;
  max-height: 50%;
}

.playlistSalvate::-webkit-scrollbar {
  width: 10px;
}

.playlistSalvate::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.playlistSalvate::-webkit-scrollbar-thumb {
  background: #888;
}

.playlistSalvate::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.playlistSalvate p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.sidebarRxIcons {
  color: #585858;
}

.sidebarRx {
  height: 100vh;
}

.sidebarRx .bg-black {
  height: 100%;
}

@media (max-width: 766px) {
  #Navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  #Navbar div {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
  }
  #Navbar div #NavBar,
  #Navbar div div,
  #Navbar div svg {
    margin: 0 !important;
  }
  .NavbarContainer {
    padding: 0rem !important;
    width: 100% !important;
    position: fixed;
    bottom: 0;
  }
  #songContainer {
    display: none !important;
  }
}
.MainContent {
  height: 100vh;
  overflow-y: auto;
  background-color: #121212;
  padding: 1em;
}

.MainContent::-webkit-scrollbar {
  width: 10px;
}

.MainContent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.MainContent::-webkit-scrollbar-thumb {
  background: #888;
}

.MainContent::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.playListSongImage {
  max-width: 100%;
  border-radius: 3px 0 0 3px;
}

.mainSongImage {
  margin-right: 1em;
  padding: 1em;
  max-width: 100%;
}

.favListSongImage {
  box-shadow: 0 0 5px white;
  max-width: 100%;
}
@media (min-width: 766px) {
  .favListSongImage {
    padding: 0;
    border-radius: 5px;
    max-width: 100%;
    box-shadow: none;
  }
}

.playButton {
  padding: 0.5em 2em;
  border-radius: 30px;
  margin-right: 1em;
  background-color: #1ed760;
  border: none;
}

button:hover {
  box-shadow: 0 0 5px 0 white;
}

.saveButton {
  padding: 0.5em 2em;
  border-radius: 30px;
  margin-right: 1em;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.homeTitle {
  font-size: 4em;
}

.songInfoDiv {
  padding: 0;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  white-space: nowrap;
}
.songInfoDiv p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playListCard {
  background-color: transparent;
  border: 0;
  border-radius: 4px;
}
@media (min-width: 766px) {
  .playListCard {
    background-color: #242424;
  }
}

.favListCard {
  background-color: #242424;
  border: 0;
  border-radius: 10px;
  padding: 1em;
}
@media (min-width: 766px) {
  .favListCard {
    padding: 0.5em;
    background-color: #0e0d0d;
  }
}

.mainSongCard {
  background: linear-gradient(20deg, black, #121212);
  border: none;
  color: white;
}
.mainSongCard p:hover,
.mainSongCard h1:hover,
.mainSongCard button:hover {
  color: gray;
}

.mainSongInfoDiv {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mainSongInfoDiv p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainSongInfoDiv h1 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.playListRow {
  color: white;
}
.playListRow p:hover {
  color: gray;
}

.favListRow {
  color: white;
  padding: 1em;
}
.favListRow p:hover {
  color: gray;
}

.favSongInfoDiv {
  font-size: 1.2em;
  font-weight: 700;
  white-space: nowrap;
}
.favSongInfoDiv p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favSongInfoDiv .favSongName {
  font-size: 2em;
}
@media (min-width: 766px) {
  .favSongInfoDiv {
    font-size: 0.8em;
    font-weight: 400;
  }
  .favSongInfoDiv .favSongName {
    font-size: small;
  }
}

.playListSongDiv {
  margin-bottom: 1em;
}

body {
  font-family: "Circular";
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: 700;
  color: gray;
}/*# sourceMappingURL=style.css.map */